perf.data
perf.data.old
.project
.cproject
.pydevproject
.settings/
*.pyc

tmp/

src/ext/
src/include/
src/graphs/general/natural/road/*.min
src/graphs/general/natural/vision/*.min
src/graphs/general/synthetic/netgen/generator/netgen
src/graphs/general/synthetic/netgen/generated/
src/graphs/general/synthetic/goto/goto
src/graphs/general/synthetic/goto/generated/
src/graphs/clusters/natural/google_trace/
src/cs2/cs2
src/tests/config_local.py

build/
benchmark/
