perf.data
perf.data.old
.project
.cproject
.pydevproject
.settings/
*.pyc

tmp/

src/ext/
src/include/
src/graphs/google_trace/
src/graphs/road/
src/graphs/vision/
src/graphs/netgen/generator/netgen
src/graphs/netgen/generated/
src/graphs/goto/generated/
src/cs2/cs2

build/
benchmark/
